/* Common styles */
[data-select-autocomplete] {
    overflow: hidden;
    width: calc(50% - 0.5rem);
    margin: 0 1rem 0.5rem 0;
    float: left;
}
[data-select-autocomplete] .autocomplete-label {
    display: block;
    float: none;
    margin: 0;
    width: 100%;
    position: relative;
    font-weight: bold;
    overflow: hidden;
}
[data-select-autocomplete] .autocomplete-label span{
    display: block;
}
[data-select-autocomplete].zero {
    margin-right: 0;
}
[data-select-autocomplete].full {
    width: 100%;
    margin-right: 0;
    clear: both;
}
[data-select-autocomplete] .autocomplete-label .glyphicon {
    position: absolute;
    right: 3px;
    top: 31px;
}
[data-select-autocomplete] .popup {
    position: absolute;
    background-color: white;
    width: 400px;
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0.5rem;
    z-index: 3;
}
[data-select-autocomplete] .popup li {
    cursor: pointer;
}
[data-select-autocomplete] .popup li:hover {
    background-color: #a6a6a6;
}
[data-select-autocomplete] .popup li.active {
    background-color: #c0c0c0;
}
[data-select-autocomplete].disabled * {
    pointer-events: none;
    cursor: not-allowed;
}
[data-select-autocomplete].disabled button, [data-select-autocomplete].disabled input {
    background-color: rgb(235, 235, 228);
}
[data-select-autocomplete] .hint {
    float: right;
    color: #777;
    font-size: 12px;
    margin-top: 3px;
}
[data-select-autocomplete] .fromnewline {
    padding-top: 5px;
    height: auto;
}
[data-select-autocomplete] hr {
    margin-top: 5px;
    margin-bottom: 0;
}
[data-select-autocomplete] .select-options {
    overflow-y: auto;
    max-height: 160px;
    height: auto;
}
[data-select-autocomplete] .lazyscroll button {
    width: 100%;
    margin-top: 5px;
}
[data-select-autocomplete] .cg-busy-default-spinner {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    height: 23px;
}
[data-select-autocomplete] .loading p {
    text-align: center;
}
[data-select-autocomplete] #dropdown {
    width: 100%;
    display: block;
    padding-right: 0;
}
[data-select-autocomplete] #dropdown.ddFull {
    width: 50%;
    display: inline-block;
    padding-right: 10px;
}
[data-select-autocomplete] #selectedList {
    width: calc(50% - 0.5rem);
    display: inline-block;
}
[data-select-autocomplete] #selectedList .form-control[readonly] {
    background-color: white;
}
[data-select-autocomplete] #selectedList button.disabled,
[data-select-autocomplete].disabled #selectedList button{
    background: white;
    pointer-events: none;
    opacity: 0.4;
}
[data-select-autocomplete] li.error {
    color: #A52A2A;
    margin-top: 0!important;
    padding-left: 0;
}
[data-select-autocomplete] li.error:hover {
    background-color: white!important;
    cursor: default!important;
}
[data-select-autocomplete]:focus, [data-select-autocomplete] *:focus {
    outline: none!important;
}
[data-select-autocomplete].is-required .autocomplete-title:after {
    content: "*";
    color: #A52A2A;
    font-size: 120%;
    padding-left: 2px;
    display: inline-block;
    overflow: hidden;
    height: 16px;
    vertical-align: top;
}
[data-select-autocomplete] .autocomplete-label input {
    display: block;
    width: 100%;
    padding: 0.4rem 0.6rem;
    color: #555555;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none;
}
[data-select-autocomplete] .autocomplete-label input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
[data-select-autocomplete] .autocomplete-label input.invalid, [data-select-autocomplete].invalid input {
    border-color: #A52A2A;
    outline: 0;
}
[data-select-autocomplete] input.invalid:focus, [data-select-autocomplete].invalid input:focus {
    border-color: #A52A2A;
    outline: 0;
    box-shadow: none;
}
[data-select-autocomplete] li .cg-busy-default-spinner {
    margin: 0;
}
[data-select-autocomplete].invalid .btn-multiselect,
[data-select-autocomplete].invalid .btn-select {
    border-color: #A52A2A;
    outline: 0;
}

/* Single Autocomplete */

[data-select-autocomplete] button.glyphicon-hand-down,
[data-select-autocomplete] button.glyphicon-hand-up {
    border: none;
    border-radius: 0 6px 6px 0;
    background: white;
    height: 29px;
}
[data-select-autocomplete] button.glyphicon-hand-down[disabled],
[data-select-autocomplete] button.glyphicon-hand-up[disabled],
[data-select-autocomplete].disabled .autocomplete-label button.glyphicon-hand-up,
[data-select-autocomplete].disabled .autocomplete-label button.glyphicon-hand-down {
    background-color: rgb(235, 235, 228);
}
[data-select-autocomplete] .autocomplete-label .glyphicon {
    position: absolute;
    right: 1px;
    top: 3px;
    padding-right: 2px;
}
[data-select-autocomplete] .autocomplete-label .glyphicon.loading {
    top: -25px;
    right: 5px;
}

/* Multiple Autocomplete */

[data-select-autocomplete][type=multiple] li.error {
    margin-top: 15px;
    padding-left: 15px;
}
[data-select-autocomplete][type=multiple] .popup {
    width: 424px;
    overflow-y: hidden;
    max-height: 225px;
    height: auto;
}
[data-select-autocomplete][type=multiple] .popup loading {
    position: relative;
    color: darkgray;
    top: 0;
    right: 0;
    float: none;
}
[data-select-autocomplete][type=multiple] .popup li {
    padding-left: 29.5px;
}
[data-select-autocomplete][type=multiple] .popup li.checked:before {
    font-family: 'Glyphicons Halflings';
    content:"\e013  ";
    vertical-align: bottom;
}
[data-select-autocomplete][type=multiple] .popup li.checked {
    padding-left: 29.5px;
    text-indent: -29.5px;
}
[data-select-autocomplete][type=multiple] .btn-multiselect {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
[data-select-autocomplete][type=multiple] .btn-multiselect .glyphicon {
    position: relative;
    right: 0;
    top: 2px;
    left: -4px;
}
[data-select-autocomplete][type=multiple] .btn-func {
    height: 30px;
    padding-top: 4px;
    margin-bottom: 4px;
}
[data-select-autocomplete][type=multiple] .btn-func :first-child {
    margin-left: 5px;
}

/* SingleSelect */
[data-select-autocomplete] .btn-select {
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
[data-select-autocomplete] .btn-select .glyphicon {
    position: relative;
    right: 0;
    top: 2px;
    left: -4px;
}
[data-select-autocomplete] .btn-select .glyphicon.glyphicon-triangle-bottom {
    transform: scale(0.8, 1.2);
    left: 6px;
    top: 4px;
}
[data-select-autocomplete] .btn-select .glyphicon.glyphicon-triangle-top {
    transform: scale(0.8, 1.2);
    left: 6px;
    top: 3px;
}
[data-select-autocomplete] .popup.singleSelect {
    width: 424px;
    overflow-y: hidden;
    max-height: 225px;
    height: auto;
}
[data-select-autocomplete] .popup.singleSelect loading {
    position: relative;
    color: darkgray;
    top: 0;
    right: 0;
    float: none;
}
[data-select-autocomplete] .popup.singleSelect li {
    padding-left: 5px;
}

/* Multiselect */

[data-select-autocomplete] .multiselect .title {
    display: inline-block;
    width: 40%;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: rgba(0,0,0, .03);
    padding: 6px 6px 6px 0;
    cursor: pointer;
    vertical-align: top;
    text-align: right;
}
[data-select-autocomplete] .multiselect label {
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    width: calc(100% - 0.5rem);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
[data-select-autocomplete] .multiselect .button {
    padding: 6px 0 6px 4px;
    margin-left: -4px;
    height: 34px;
    width: 60%;
    background-color: transparent;
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 60%;
    min-width: 60%;
    min-height: 34px;
    max-height: 200px;
    cursor: pointer;
}
[data-select-autocomplete] .multiselect .popup {
    width: 29vw;
    max-height: none;
    height: auto;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
}
[data-select-autocomplete] .multiselect .popup li {
    list-style: none;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    padding-left: 0;
}
[data-select-autocomplete] .multiselect .popup li span {
    display: inline-block;
    width: calc(100% - 18px);
    white-space: normal;
}
[data-select-autocomplete] .multiselect .popup li:before {
    font-family: 'Glyphicons Halflings';
    content:"\e157  ";
    vertical-align: bottom;
}
[data-select-autocomplete] .multiselect .popup li.checked:before {
    font-family: 'Glyphicons Halflings';
    content:"\e067  ";
    vertical-align: bottom;
}
[data-select-autocomplete] .multiselect .popup li.checked {
    padding-left: 0;
    text-indent: 0;
}
[data-select-autocomplete] .multiselect .popup li.error {
    padding-left: 0;
}
[data-select-autocomplete] .multiselect .popup li.error:before {
    font-family: inherit;
    content: none;
}
[data-select-autocomplete] .multiselect .select-options {
    position: relative;
    overflow-y: auto;
    max-height: 10rem;
    height: auto;
    padding: 0.5rem;
}
[data-select-autocomplete].disabled .multiselect * {
    cursor: not-allowed;
    pointer-events: none;
}
[data-select-autocomplete].invalid .multiselect textarea {
    border-color: #A52A2A;
    outline: 0;
}
[data-select-autocomplete].disabled .multiselect textarea {
    background-color: rgb(235, 235, 228);
}
[data-select-autocomplete] .multiselect *:focus {
    border-color: #82A9E9;
}
[data-select-autocomplete].list  {
    display: block;
    width: 100%;
    float: left;
    border-radius: 0 4px 4px 0;
    margin: 0;
}