<div class="autocomplete-label" data-ng-click="closeMenu()"><span class="hint" data-ng-if="hint" data-ng-bind="hint"></span><span class="autocomplete-title" data-ng-bind="title"></span></div>
<div id="dropdown">
    <button class="btn btn-default btn-select" data-ng-keydown="keyDown($event)" tabindex="{{ tabindex }}" data-ng-disabled="disabled"
    data-ng-click="toggleSelect()"><span class="glyphicon pull-right" data-ng-class="{ 'glyphicon-triangle-bottom' : !isPopupVisible, 'glyphicon-triangle-top' : isPopupVisible }" aria-hidden="true"></span>{{item.input || placevalue}}</button>
    <ul class="popup singleSelect" data-ng-show="isPopupVisible" data-ng-click="setHandler($event)" tabindex="1">
        <div class="col-md-12" data-ng-if="autosearch">
            <input data-ng-keydown="keyDown($event)" class="form-control" data-ng-class="{ active: selected == $index, 'active-search': isPopupVisible }" type="text"
                   placeholder="Введите текст для поиска..." data-ng-model-options="{ debounce: 500 }" data-ng-model="search.text" data-ng-change="dataChange()"></div>
        <div class="fromnewline" data-ng-if="autosearch"><hr></div>
        <div class="loading" ng-if="!loaded"><loading></loading><p>Пожалуйста, подождите! Идет загрузка...</p></div>
        <div class="select-options lazyscroll fromnewline" ng-if="loaded" data-ng-init="initLazyLoadOnScroll()">
            <li class="item" data-ng-class="{checked: item.input == model, active: selected == $index && isPopupVisible }"
            data-ng-repeat="item in source | limitTo: 300 track by $index" data-ng-bind="item.input" data-ng-click="select(item)">
            </li>
            <li class="item error" data-ng-bind="errorMsg" data-ng-if="failed"></li>
            <li class="loading" data-ng-if="lazyload == 'scroll' && !lazyDataLoaded"  data-ng-show="totalitems && source.length < totalitems || source.length < total">
                <loading></loading></li>
            <button class="btn btn-xs btn-primary" data-ng-keydown="keyDown($event)" data-ng-class="{ active: selected == source.length }" ng-disabled="!lazyDataLoaded"
                    data-ng-click="loadMore()" data-ng-if="lazyload && lazyload != 'scroll'" data-ng-show="totalitems && source.length < totalitems || source.length < total">
                <span>{{lazyDataLoaded ? 'Загрузить еще...' : 'Идет загрузка...'}}</span>
            </button>
        </div>
    </ul>
</div>